Repository BasisResearch/chirho, pull requests merged in 2024-07, with the labels that each got.

#548 Fix for Robust Estimation Memory Issue
  chirho/robust/handlers/estimators.py
  chirho/robust/internals/utils.py
  tests/robust/test_utils.py
Labels: status:awaiting review, module:robust

#551 Replace bespoke flattening logic with PyTree-based flattening in `chirho.robust` CG solver
  chirho/robust/internals/utils.py
Labels: status:awaiting review, refactor, module:robust

#550 Move Predictive handlers to observational module
  chirho/indexed/handlers.py
  chirho/observational/handlers/predictive.py
  chirho/observational/internals.py
  chirho/robust/internals/linearize.py
  chirho/robust/internals/nmc.py
  chirho/robust/internals/utils.py
  chirho/robust/ops.py
  tests/robust/test_handlers/test_MC_EIF.py
  tests/robust/test_handlers/test_estimators.py
  tests/robust/test_internals_compositions.py
  tests/robust/test_internals_linearize.py
  tests/robust/test_performance.py
Labels: status:awaiting review, refactor, module:observational

#474 Reproduce DR learner notebook using `chirho.robust`
  docs/source/automated_dr_learner.ipynb
  docs/source/figures/robust_pipeline.png
  docs/source/index.rst
Labels: documentation, status:awaiting review, examples, module:robust
