Repository BasisResearch/chirho, pull requests merged in 2024-01, with the labels that each got.

#473 Replace some `torch.vmap` usage with a hand-vectorized `BatchedNMCLogPredictiveLikelihood`
  chirho/observational/handlers/condition.py
  chirho/robust/internals/linearize.py
  chirho/robust/internals/predictive.py
  chirho/robust/internals/utils.py
  tests/robust/test_internals_compositions.py
  tests/robust/test_performance.py
Labels: enhancement, status:awaiting review, refactor, feature:robust

#470 Added documentation for `chirho.robust`
  chirho/robust/handlers/estimators.py
  chirho/robust/internals/linearize.py
  chirho/robust/internals/predictive.py
  chirho/robust/internals/utils.py
  chirho/robust/ops.py
  docs/source/robust.rst
Labels: documentation, status:awaiting review, feature:robust

#475 Revise dynamical systems tutorial to fix typos and clarify ambiguity
  docs/source/dynamical_intro.ipynb
Labels: documentation, status:awaiting review, feature:dynamics

#472 implement `soft_eq` and `soft_neq`
  chirho/explainable/internals/defaults.py
  tests/explainable/test_ops.py
Labels: status:WIP

#481 Add explainable module to Sphinx build
  docs/source/explainable.rst
  docs/source/index.rst
Labels: documentation, status:awaiting review, feature:causality

#485 Reorganize code in chirho.explainable
  chirho/explainable/handlers/__init__.py
  chirho/explainable/handlers/alternatives.py
  chirho/explainable/handlers/components.py
  chirho/explainable/handlers/explanation.py
  chirho/explainable/handlers/split_subsets.py
  chirho/explainable/ops.py
  docs/source/explainable.rst
  tests/explainable/defaults/test_defaults.py
  tests/explainable/test_alternatives.py
  tests/explainable/test_handlers_components.py
  tests/explainable/test_handlers_explanation.py
  tests/explainable/test_internals.py
  tests/explainable/test_ops.py
  tests/explainable/test_preemptions.py
  tests/explainable/test_split_subsets.py
Labels: refactor, feature:causality

#487 Make functional argument to influence_fn required
  chirho/robust/handlers/estimators.py
  chirho/robust/ops.py
  tests/robust/test_ops.py
Labels: status:awaiting review, refactor, feature:causality

#489 Remove guide argument from `influence_fn` and `linearize`
  chirho/robust/handlers/estimators.py
  chirho/robust/handlers/predictive.py
  chirho/robust/internals/linearize.py
  chirho/robust/internals/nmc.py
  chirho/robust/ops.py
  docs/source/robust.rst
  tests/robust/test_handlers.py
  tests/robust/test_internals_compositions.py
  tests/robust/test_internals_linearize.py
  tests/robust/test_ops.py
  tests/robust/test_performance.py
Labels: status:awaiting review, refactor, feature:robust

#490 implement soft_neq and use downstream in the explainable module
  chirho/explainable/handlers/components.py
  chirho/explainable/handlers/explanation.py
  chirho/explainable/internals/__init__.py
  chirho/explainable/internals/defaults.py
  chirho/explainable/ops.py
  tests/explainable/test_handlers_components.py
  tests/explainable/test_handlers_explanation.py
Labels: enhancement, status:awaiting review, refactor, feature:causality

#446 add revised actual causality notebook
  chirho/explainable/internals/defaults.py
  docs/source/actual_causality.ipynb
  docs/source/index.rst
  scripts/test_notebooks.sh
Labels: status:awaiting review, feature:causality

#491 allow for empty witness in SearchForCause
  chirho/explainable/handlers/explanation.py
  docs/source/actual_causality.ipynb
  tests/explainable/test_handlers_explanation.py
Labels: bug, feature:causality

#492 Make influence_fn a higher-order Functional
  chirho/robust/handlers/estimators.py
  chirho/robust/internals/linearize.py
  chirho/robust/ops.py
  tests/robust/test_handlers.py
  tests/robust/test_ops.py
Labels: enhancement, status:awaiting review, refactor, feature:robust

#493 Implement `InferConstraints`
  chirho/explainable/handlers/__init__.py
  chirho/explainable/handlers/components.py
  tests/explainable/test_handlers_components.py
Labels: enhancement, status:awaiting review, feature:causality

#476 Add full corrected one step estimator
  chirho/robust/handlers/estimators.py
  tests/robust/test_handlers.py
Labels: status:awaiting review, feature:robust

#441 staging-causality (explainable reasoning as a separate module)
  chirho/counterfactual/handlers/counterfactual.py
  chirho/counterfactual/handlers/explanation.py
  chirho/counterfactual/ops.py
  chirho/explainable/handlers/__init__.py
  chirho/explainable/handlers/components.py
  chirho/explainable/handlers/explanation.py
  chirho/explainable/handlers/preemptions.py
  chirho/explainable/internals/__init__.py
  chirho/explainable/internals/defaults.py
  chirho/explainable/ops.py
  docs/source/actual_causality.ipynb
  docs/source/counterfactual.rst
  docs/source/explainable.rst
  docs/source/index.rst
  scripts/test_notebooks.sh
  tests/counterfactual/test_counterfactual_handler.py
  tests/counterfactual/test_handlers_explanation.py
  tests/explainable/test_handlers_components.py
  tests/explainable/test_handlers_explanation.py
  tests/explainable/test_internals.py
  tests/explainable/test_ops.py
Labels: feature:causality, staging-branch

#398 Staging branch for `chirho.robust` module development
  chirho/observational/handlers/condition.py
  chirho/robust/__init__.py
  chirho/robust/handlers/__init__.py
  chirho/robust/handlers/estimators.py
  chirho/robust/handlers/predictive.py
  chirho/robust/internals/__init__.py
  chirho/robust/internals/linearize.py
  chirho/robust/internals/nmc.py
  chirho/robust/internals/utils.py
  chirho/robust/ops.py
  docs/source/index.rst
  docs/source/robust.rst
  setup.py
  tests/robust/__init__.py
  tests/robust/robust_fixtures.py
  tests/robust/test_handlers.py
  tests/robust/test_internals_compositions.py
  tests/robust/test_internals_linearize.py
  tests/robust/test_ops.py
  tests/robust/test_performance.py
Labels: enhancement, staging-branch, feature:robust

#498 Add empty chirho/explainable/__init__.py
  chirho/explainable/__init__.py
Labels: bug, status:awaiting review, module:explainable

#500 migrate soft conditioning and fix a few small explainable module documentation typos
  chirho/explainable/handlers/components.py
  chirho/explainable/handlers/explanation.py
  chirho/explainable/internals/__init__.py
  chirho/explainable/internals/defaults.py
  chirho/observational/handlers/__init__.py
  chirho/observational/handlers/soft_conditioning.py
  tests/explainable/test_internals.py
  tests/observational/test_handlers.py
Labels: status:awaiting review

#499 Add robust and explainable modules to README
  README.rst
Labels: documentation, status:awaiting review

#504 Setup experiment configurations
  docs/examples/__init__.py
  docs/examples/robust_paper/datasets/1/config.json
  docs/examples/robust_paper/datasets/1/data.pkl
  docs/examples/robust_paper/functionals.py
  docs/examples/robust_paper/models.py
  docs/examples/robust_paper/scripts/create_datasets.py
  docs/examples/robust_paper/scripts/create_experiment_configs.py
  docs/examples/robust_paper/scripts/statics.py
Labels: module:robust

#505 More experiment configs
  docs/examples/robust_paper/analytic_eif.py
  docs/examples/robust_paper/datasets/1/config.json
  docs/examples/robust_paper/datasets/1/data.pkl
  docs/examples/robust_paper/functionals.py
  docs/examples/robust_paper/models.py
  docs/examples/robust_paper/scripts/create_datasets.py
  docs/examples/robust_paper/scripts/create_experiment_configs.py
  docs/examples/robust_paper/scripts/influence_approx.py
  docs/examples/robust_paper/scripts/statics.py
  docs/examples/robust_paper/utils.py
Labels: status:WIP

#509 Refactor of `influence_approx.py`
  docs/examples/robust_paper/models.py
  docs/examples/robust_paper/scripts/create_experiment_configs.py
  docs/examples/robust_paper/scripts/influence_approx.py
  docs/examples/robust_paper/utils.py
Labels: enhancement, module:robust

#508 Finite Difference Baseline
  docs/examples/robust_paper/finite_difference_eif/__init__.py
  docs/examples/robust_paper/finite_difference_eif/abstractions.py
  docs/examples/robust_paper/finite_difference_eif/distributions.py
  docs/examples/robust_paper/finite_difference_eif/mixins.py
  docs/examples/robust_paper/scripts/fd_influence_approx.py
  docs/examples/robust_paper/utils.py
Labels: module:robust

#510 Integrates FD for Squared Density Into Experiment
  docs/examples/robust_paper/scripts/create_experiment_configs.py
  docs/examples/robust_paper/scripts/fd_influence_approx.py
  docs/examples/robust_paper/scripts/influence_approx.py
  docs/examples/robust_paper/scripts/statics.py
Labels: status:awaiting review, module:robust

#484 Implement TMLE estimator using Influence Functions
  chirho/robust/handlers/estimators.py
  docs/source/tmle.ipynb
  setup.py
  tests/robust/test_handlers.py
Labels: status:awaiting review, module:robust
