Repository BasisResearch/chirho, pull requests merged in 2024-02, with the labels that each got.

#520 Add warning message in `influence_fn`
  chirho/robust/ops.py
  tests/robust/test_ops.py
Labels: bug, documentation, status:awaiting review, module:robust

#523 Pin pyro to 1.8.6 while we address lint errors introduced by 1.9.0
  setup.py
Labels: status:awaiting review, upstream

#526 Revise dynamical systems tutorial to make lockdown strength broadcast
  docs/source/dynamical_intro.ipynb
Labels: documentation, examples, module:dynamical
