Repository BasisResearch/chirho, pull requests merged in 2024-08, with the labels that each got.

#555 Instrumental example notebook.
  README.rst
  docs/source/index.rst
  docs/source/instrumental_var.ipynb
  scripts/test_notebooks.sh
Labels: status:awaiting response, examples, module:counterfactual

#557 Explainability edge cases
  chirho/explainable/handlers/components.py
  tests/explainable/test_handlers_components.py
  tests/explainable/test_handlers_explanation.py
Labels: bug, status:awaiting review, module:explainable

#564 Bump year on docs copyright
  docs/source/conf.py
Labels: documentation, status:awaiting review

#558 Documentation explainability
  docs/source/explainable_categorical.ipynb
Labels: documentation, status:awaiting review, module:explainable

#562 Explainable undo split
  chirho/explainable/handlers/components.py
  tests/explainable/test_handlers_components.py
Labels: bug, status:awaiting review, module:explainable
